{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Accueil {% endblock %}

{% block body %} 

  {{parent()}}
 


<div class="float-left">
<p class="text-justify"> Ambitioni dedisse scripsisse iudicaretur. <br>Cras mattis iudicium purus 
sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. <br> Praeterea iter est quasdam res quas ex communi. 
At nos hinc posthac, sitientis piros Afros. <br> Petierunt uti sibi concilium totius Galliae in diem certam indicere. 
Cras mattis iudicium purus sit amet fermentum.</p>

</div>





    <div class="float-right">
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Secondary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Success card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Success card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Success card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
       
  
{% endblock %}

